# 이 파일을 복사해서 application-secret.properties 로 만들고 실제 키값을 입력하세요
# cp application-secret.properties.example application-secret.properties

# Google OAuth2 (https://console.cloud.google.com/)
spring.security.oauth2.client.registration.google.client-id=YOUR_GOOGLE_CLIENT_ID
spring.security.oauth2.client.registration.google.client-secret=YOUR_GOOGLE_CLIENT_SECRET

# Naver OAuth2 (https://developers.naver.com/)
spring.security.oauth2.client.registration.naver.client-id=YOUR_NAVER_CLIENT_ID
spring.security.oauth2.client.registration.naver.client-secret=YOUR_NAVER_CLIENT_SECRET
